@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.firstFrame {
  margin-top: 10vh;
  height: 90vh;
  color: white;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.firstFrame .texto {
  width: 30vw;
  margin-left: 5vw;
}

.firstFrame .texto h1 {
  font-size: 2.8rem;
  margin-bottom: 24px;
}

.firstFrame .texto button {
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.firstFrame .texto button:hover {
  background-color: #a868d8;
}

.firstFrame img {
  height: 500px;
  margin-right: 5vw;
}

.secondFrame {
  background-color: #fff;
  margin-top: 0;
  display: flex;
  flex-flow: column nowrap;
  padding: 60px 0;
}

.secondFrame div {
  width: 50vw;
  font-family: "Rubik", sans-serif;
  margin: 4vh;
}

.secondFrame div h2 {
  color: #39345f;
}

.secondFrame div h2 .icon {
  color: #9034d8;
}

.secondFrame div p {
  color: #9591a8;
}

.secondFrame .segundo-titulo {
  align-self: flex-start;
  margin-left: 5vw;
  color: #8f34d8;
}

.secondFrame .segundo-feature-um {
  align-self: flex-end;
  margin-right: 5vw;
  text-align: right;
}

.secondFrame .segundo-feature-dois {
  align-self: flex-start;
  margin-left: 5vw;
}

.secondFrame .segundo-feature-tres {
  align-self: flex-end;
  margin-right: 5vw;
  text-align: right;
}

.third-frame .third-title {
  color: white;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin-bottom: 15vh;
  margin-top: 5vh;
}

.third-frame .cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .firstFrame {
    flex-flow: column nowrap;
    margin-top: 15vh;
    height: 85vh;
  }

  .firstFrame .texto {
    width: 100vw;
    height: 80vh;
    text-align: center;
    margin-left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .firstFrame img {
    display: none;
  }

  .secondFrame {
    padding: 0;
  }

  .secondFrame div {
    width: 80vw;
  }

  .third-frame .third-title {
    /* background-color: #ff0; */
    width: 80vw;
    margin: 3vh auto;
  }

  .third-frame .cards {
    flex-flow: column nowrap;
    height: 180vh;
  }
}
