button.nav-button {
  width: 245px;
  padding: 16px 32px;
  box-sizing: border-box;
  border: none;
  border-radius: 18px;
  outline: none;
  background-color: #9034d8;
  color: #faf1ff;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  transition: 0.2s;
  cursor: pointer;
}

button.nav-button.transparent:hover {
  background-color: #faf1ff22;
}

/* button.nav-button.transparent:active {
  background-color: #9034d8;
} */

button.nav-button span.nav-button-icon i {
  font-size: 30px;
  margin-right: 16px;
}

button.nav-button span.nav-button-label {
  font-size: 20px;
  font-weight: 500;
}

button.nav-button.transparent {
  background-color: #9034d800;
}

@media screen and (max-width: 768px) {
  button.nav-button {
    width: 182px;
    border-radius: 12px;
    margin-bottom: 25px;
  }
  button.nav-button span.nav-button-icon i {
    font-size: 16px;
    margin-right: 8px;
  }

  button.nav-button span.nav-button-label {
    font-size: 14px;
  }
}

@media screen and (max-width: 580px) {
  button.nav-button {
    width: 45px;
    padding: 10px;
    background-color: #0000;
  }
  button.nav-button span.nav-button-label {
    display: none;
  }

  button.nav-button span.nav-button-icon i {
    color: #9034d8;
    font-size: 25px;
  }

  button.nav-button.transparent span.nav-button-icon i {
    color: #faf1ff;
  }
}
