button.button {
  margin: 0;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background-color: #9034d8;
  color: #faf1ff;
  border-radius: 8px;
}

button.button.secondary {
  background-color: #faf1ff;
  color: #39345f;
}
