@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.home-page {
  display: flex;
  flex-flow: nowrap column;
  margin-left: 26vw;
  font-family: "Rubik", sans-serif;
}

.search-bar {
  margin-top: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 65vw;
  margin-bottom: 2vh;
}

.search-bar input {
  font-size: 1.5rem;
  width: 50vw;
  outline: none;
  border-radius: 10px;
  background-color: #39345f;
  border: none;
  line-height: 2rem;
  color: white;
  font-weight: bold;
  padding: 1vw;
}

.search-bar input::placeholder {
  color: white;
  opacity: 0.5;
}

.search-bar button {
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  color: white;
  background-color: #a848f1;
  border: none;
  border-radius: 10px;
  width: 10vw;
}

.cards {
  width: 72vw;
  height: 100vh;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 20vw;
  height: 15vw;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .search-bar {
    width: 50vw;
    margin-left: 11vw;
  }

  .home-page {
    margin-left: 32vw;
  }
}

@media screen and (max-width: 580px) {
  .home-page {
    margin-left: 25vw;
  }

  .search-bar input {
    width: 60vw;
  }
}
