div.login-page {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-image: url("../../assets/illustrations/loginRectangle.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

div.login-page div.login-left {
  padding-top: 100px;
  padding-bottom: 70px;
  width: 55%;
}

div.login-page div.login-left h1.login-page-title {
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #faf1ff;
  margin-bottom: 24px;
  text-align: center;
}

div.login-page div.login-left svg.login-illustration {
  width: 85%;
  margin: 0 5% 0 10%;
}

div.login-page div.login-right {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 70px;
  width: 45%;
  box-sizing: border-box;
}

@media screen and (max-width: 730px) {
  div.login-page div.login-left {
    display: none;
  }
  div.login-page div.login-right {
    padding-top: 100px;
  }

  div.login-page div.login-right {
    width: 100%;
    min-height: 100vh;
    background-color: #faf1ff;
    padding-top: 100px;
  }
}
