div.promotion-card {
  max-width: 300px;
  max-height: 300px;
  height: 70vw;
  box-sizing: border-box;
  background-color: #39345f;
  border-radius: 20px;
  transition: 0.3s;
  display: inline-block;
  margin: 10px 3px;
}

div.promotion-card:hover {
  box-shadow: 5px 10px 12px #d3b4eb80;
}

div.promotion-card img.game-image {
  width: 100%;
  max-height: 130px;
  height: 45vw;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  outline: none;
}

div.promotion-card div.game-content {
  width: 100%;
  max-height: 170px;
  height: 32vw;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div.promotion-card div.game-content div.game-title-and-likes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

div.promotion-card div.game-content div.game-title-and-likes div.title {
  width: 80%;
}

div.promotion-card
  div.game-content
  div.game-title-and-likes
  div.title
  h1.title {
  font-size: 18px;
  line-height: 1.5em;
  color: #faf1ff;
  font-weight: 700;
}

div.promotion-card div.game-content div.game-title-and-likes div.title:hover {
  color: #faf1ff;
  text-decoration: underline;
  cursor: pointer;
}

div.promotion-card
  div.game-content
  div.game-title-and-likes
  div.title
  p.developer {
  font-size: 12px;
  color: #d2cad7;
  font-weight: 400;
}

div.promotion-card div.game-content div.game-title-and-likes div.likes {
  display: flex;
  color: #faf1ff;
  cursor: pointer;
  flex-flow: column wrap;
}

div.promotion-card div.game-content div.game-title-and-likes div.likes:hover {
  color: #9034d8;
}

div.promotion-card
  div.game-content
  div.game-title-and-likes
  div.likes
  i.like-button {
  font-size: 24px;
  color: inherit;
  cursor: pointer;
  transition: 0.2s;
}

div.promotion-card
  div.game-content
  div.game-title-and-likes
  div.likes
  i.like-button.favorite {
  color: #9034d8;
}

div.promotion-card
  div.game-content
  div.game-title-and-likes
  div.likes
  span.like-count {
  font-size: 12px;
  color: #faf1ff;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 4px;
}

div.promotion-card div.game-content div.game-info {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  margin-bottom: 8px;
}

div.promotion-card div.game-content div.game-info div.promotion-info {
  width: 60%;
}

div.promotion-card div.game-content div.game-info div.promotion-info h1.price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
  color: #faf1ff;
}

div.promotion-card
  div.game-content
  div.game-info
  div.promotion-info
  p.expiration-date {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5em;
  color: #faf1ff;
}

div.promotion-card div.game-content div.game-info button.button {
  width: 40%;
  height: 40px;
  padding: 8px 0;
  position: relative;
  margin-top: 10px;
  transition: 0.2s;
}

div.promotion-card div.game-content div.game-info button.button:hover {
  background-color: #a746f1;
}

div.promotion-card div.game-content div.game-info a.game-link {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 430px) {
  div.promotion-card div.game-content {
    box-sizing: border-box;
    padding: 8px 16px;
  }
  div.promotion-card
    div.game-content
    div.game-title-and-likes
    div.title
    h1.title {
    font-size: 14px;
  }

  div.promotion-card
    div.game-content
    div.game-info
    div.promotion-info
    h1.price {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
    color: #faf1ff;
  }
}
