div.delete-promo {
  margin-left: 325px;
  margin-right: 60px;
  margin-top: 48px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid #39345f;
}

div.delete-promo h1.delete-promo {
  flex-basis: 40%;
  padding-left: 2%;
  box-sizing: border-box;
  color: #faf1ff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
}

div.delete-promo div.promos {
  box-sizing: border-box;
  flex-basis: 60%;
  display: flex;
  flex-flow: column wrap;
  padding-top: 25px;
}

div.delete-promo div.promos div.promo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

div.delete-promo div.promos div.promo span.promo-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  color: #faf1ff;
}

div.delete-promo div.promos div.promo a.delete-promo {
  text-decoration: none;
  color: #9034d8;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  div.delete-promo {
    margin: 60px;
    margin-left: 350px;
  }

  div.delete-promo h1.delete-promo {
    flex-basis: 100%;
    text-align: center;
    padding: 0;
  }

  div.delete-promo div.promos {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 580px) {
  div.delete-promo {
    margin: 20px;
    margin-left: 100px;
  }
}
