div.personal-data {
  margin-left: 325px;
  margin-right: 60px;
  margin-top: 48px;
  padding-bottom: 24px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid #39345f;
}

div.personal-data h1.personal-data {
  flex-basis: 40%;
  padding-left: 2%;
  box-sizing: border-box;
  color: #faf1ff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
}

div.personal-data form.personal-data {
  flex-basis: 60%;
  display: flex;
  flex-flow: column wrap;
}

div.personal-data form.personal-data h2.input-title {
  font-size: 18px;
  line-height: 1.5em;
  color: #faf1ff;
  padding-left: 8px;
  margin-top: 12px;
}

div.personal-data form.personal-data div.profile-buttons {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

div.personal-data form.personal-data div.profile-buttons button.button {
  max-width: 150px;
  margin: 0;
}

div.personal-data form.personal-data div.profile-buttons div.button {
  margin: 0;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  max-width: 150px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background-color: #9034d8;
  color: #faf1ff;
  border-radius: 8px;
  max-height: 56px;
  box-sizing: border-box;
}
div.personal-data form.personal-data div.profile-buttons div.button.secondary {
  background-color: #faf1ff;
  color: #39345f;
}

@media screen and (max-width: 1000px) {
  div.personal-data {
    margin: 60px;
    margin-left: 350px;
  }

  div.personal-data h1.personal-data {
    flex-basis: 100%;
    text-align: center;
    padding: 0;
  }

  div.personal-data form.personal-data {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 580px) {
  div.personal-data {
    margin: 20px;
    margin-left: 100px;
  }
}
