.commentButton {
  margin: 0;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  width: 30%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background-color: #9034d8;
  color: #faf1ff;
  border-radius: 8px;
}
